# 빌드 결과물
dist/
build/

# Node.js 모듈
node_modules/

# 환경 설정 파일
.prettierrc
.eslintrc.json

# 로그 파일
npm-debug.log

# 프로젝트 루트에서 제외된 다른 파일들
public/

# 기타
.vscode/
.idea/
.DS_Store
*.config.js


# 패키지 관리
package-lock.json